.event-container {
  width: 500px;
  /* background: #a760ff; */
  height: 100vh;
  overflow: scroll;
  border: 1px solid #aaa;
}

.time {
  background: #ffff;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaaaaa76;
}

.invitees {
  height: 40px;
  overflow-x: auto;
  border: 1px solid #aaaaaa76;
  border-radius: 8px;
}

.chip {
  background: #3e8bff;
  padding: 2px 4px;
  border-radius: 25px;
  color: #ffff;
  font-size: 14px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
