.calendar {
  width: 900px;
  /* height: 100vh; */
  border: 1px solid #aaa8a8;
  border-radius: 10px;
  padding: 10px 0;
}

.calendar-header {
  height: 100px;
  width: 100%;
}

.calendar-body {
  width: 100%;
}

.table-header {
  height: 100%;
  width: 90%;
}

.weekday {
  width: 100px;
}

.table-content {
  width: 100%;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 95px;
  border: 1px solid #aaa;
}

.calendar-day:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
}

.current p {
  color: #000000b7;
}

.day-disabled:hover {
  cursor: auto;
}

.selected {
  font-size: 20px;
}

.event-container {
  width: 500px;
  /* background: #a760ff; */
  height: 100vh;
  overflow: scroll;
  border: 1px solid #aaa;
}

.time {
  background: #ffff;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaaaaa76;
}

.invitees {
  height: 40px;
  overflow-x: auto;
  border: 1px solid #aaaaaa76;
  border-radius: 8px;
}

.chip {
  background: #3e8bff;
  padding: 2px 4px;
  border-radius: 25px;
  color: #ffff;
  font-size: 14px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
